%% ------------------------------------------------------------------
%% Erlang Configuration
%% ------------------------------------------------------------------

{erl_opts, [
    debug_info,
    inline_list_funcs,
    warn_deprecated_function,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_untyped_record,
    warn_unused_function,
    warn_unused_import,
    warnings_as_errors,
    {parse_transform, lager_transform} %% makes errors look good with lager
]}.

{cover_enabled, true}. %% http://erlang.org/doc/man/cover.html

%% ------------------------------------------------------------------
%% Rebar3 Configuration
%% ------------------------------------------------------------------

{relx, [ %% http://www.rebar3.org/v3.0/docs/releases
    {
        release,                    %% type of erlang project
        {erlang_notebook, "0.1.0"}, %% our release name and version
        [                           %% these are the apps that are required for this release
          erlang_notebook_api,
          erlang_notebook_gen_server,
          erlang_notebook_mnesia_db,
          erlang_notebook_nif,
          erlang_notebook_web,
          mnesia,               %% Erlang's distributed transactional database server - http://erlang.org/doc/man/mnesia.html
          sasl,                 %% http://erlang.org/doc/man/sasl_app.html
          {observer, load},     %% monitoring and debugging tool, but only needs to be loaded not running
          {wx,       load},     %% required by observer
          {runtime_tools, load} %% required by observer
        ]
    },
    {sys_config,            "./config/sys.config"},
    {vm_args,               "./config/vm.args"},
    {dev_mode,              true},
    {include_erts,          false},
    {extended_start_script, true}
]}.

{profiles, [ %% http://www.rebar3.org/docs/profiles
    {prod, [
      {relx, [
        {dev_mode,      false},
        {include_erts,  true},
        {sys_config,    "./config/sys.config"},
        {vm_args,       "./config/vm.args"}
      ]},
      {cover_enabled, false}
    ]},
    {dev, [
      {relx, [
        {dev_mode,      false},
        {include_erts,  true},
        {sys_config,    "./config/sys.config"},
        {vm_args,       "./config/vm.args"}
      ]},
      {cover_enabled, false}
    ]},
    {test, [
      {relx, [
        {dev_mode, false}
      ]},
      {cover_enabled, false}
    ]}
]}.

{xref_checks, [ %% http://www.rebar3.org/docs/configuration %% NOTE: extra warnings and compile time errors!! (works with Makefile)
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

%% ------------------------------------------------------------------
%% Dependencies and Plugings
%% ------------------------------------------------------------------

{deps, [ %% http://www.rebar3.org/docs/dependencies
    {lager, {git, "https://github.com/basho/lager", {branch, "master"}}} %% logging and errors
]}.

{plugins, [ %% http://www.rebar3.org/docs/using-available-plugins
    {rebar3_run,            {git, "https://github.com/tsloughter/rebar3_run.git",            {branch, "master"}}}, %% run release easily via rebar3
    {rebar3_erlydtl_plugin, {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}  %% NOTE: turns on hooks for DTL in lower level configs
]}.
