{erl_opts, [debug_info]}.

{erlydtl_opts, [
	debug_info,
  %% doc_root used for DTL to find templates
	{doc_root, "templates"},
  %% dtl tags for DTL
	{custom_tags_dir, "templates/dtl_tags"}
]}.

{deps, [
  %% JSON parser
  {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}},
  %% DTL templates for Erlang
  {erlydtl, {git, "https://github.com/erlydtl/erlydtl.git",   {tag, "0.11.1"}}},
  %% Webserver
  {cowboy, {git, "https://github.com/extend/cowboy.git",     {tag, "1.0.4"}}}
]}.

{provider_hooks, [
	{post, [
    %% this hook ensures that DTL templates are compiled
    %% and specifically compiles them in the _build
		{compile, {erlydtl, compile}}
	]}
]}.
